################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/lltg.1688.rponey.cc/bin
/lltg.1688.rponey.cc/obj/Debug
/packages
/Rponey.DbHelper/bin/Debug
/Rponey.DbHelper/obj/Debug
