################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/lltg.1688.rponey.cc/bin
/lltg.1688.rponey.cc/obj/Debug
/packages
/Rponey.DbHelper/bin/Debug
/Rponey.DbHelper/obj/Debug
/lltg.1688.rponey.cc.Bll/obj/Debug
/lltg.1688.rponey.cc.Dal/obj/Debug
/lltg.1688.rponey.cc.Model/obj/Debug
/lltg.1688.rponey.cc.Bll/bin/Debug
/lltg.1688.rponey.cc.Dal/bin/Debug
/Rponey.AlbbSDK/bin/Debug
/Rponey.AlbbSDK/obj/Debug
/lltg.1688.rponey.cc.Model/bin/Debug
/lltg.1688.rponey.cc/obj/Release
/lltg.1688.rponey.cc.Bll/obj/Release
/lltg.1688.rponey.cc.Bll/bin/Release
/lltg.1688.rponey.cc.Dal/obj/Release
/lltg.1688.rponey.cc.Dal/bin/Release
/lltg.1688.rponey.cc.Model/obj/Release
/lltg.1688.rponey.cc.Model/bin/Release
/Rponey.AlbbSDK/obj/Release
/Rponey.AlbbSDK/bin/Release
/Rponey.DbHelper/obj/Release
/Rponey.DbHelper/bin/Release
