@model lltg._1688.rponey.cc.Models.MainModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        当前用户：@Model.User.ResourceOwner
        <a href="javascript:;" onclick="ProductList()">查看产品</a>
        <a href="javascript:;" onclick="CategoryList()">查看类目</a>
    </div>
    <script src="@Url.Content("~/Script/jquery.min.js")"></script>
    <script>
        function ProductList() {
            $.ajax({
                url: '@Url.Action("ProductList")',
                type: 'POST',
                success:function(result) {
                    console.log(result);
                }
            });
        }
        function CategoryList() {
            $.ajax({
                url: '@Url.Action("CategoryList")',
                type: 'POST',
                success: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
</body>
</html>
