@model lltg._1688.rponey.cc.Models.MainModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        当前用户：@Model.User.ResourceOwner
    </div>
</body>
</html>
