@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一七互动404</title>
    <link rel="stylesheet" href="@Url.Content("~/css/404.css")" />
</head>

<body>
    <div class="main-404">
        <a class="btn-404" href="javascript:;"></a>
    </div>


</body>

</html>
