@using RPoney
@using PublicEnum = lltg._1688.rponey.cc.Model.PublicEnum
@model lltg._1688.rponey.cc.Models.SpreadModel
@{
    ViewBag.Title = "推广中心";
}
<div class="yq-content">
    <div class="spread-ad">
        <img src="/Dimages/spread-banner.png" alt="">
    </div>
    <div class="spread-box">
        <div class="spread-main">
            <div class="yq-box">
                <h2>引流标签推广</h2>
                <p class="desc">引流标签--勾选适合您产品的标签，最多可选2个，系统将您推广的产品平均分配到引流标签下，精准导流</p>

                <div class="form-item" style="margin-top:16px;">
                    <label class="form-item-label" for="">系统推荐标签:</label>
                    <div class="form-item-content">
                        <ul class="tags-list">
                            @if (Model.YinLiuTagList != null && Model.YinLiuTagList.Any())
                            {
                                foreach (var yinliuTag in Model.YinLiuTagList.Where(p => p.Type == PublicEnum.YinLiuTagTypeEnum.System))
                                {
                                    <li>@yinliuTag.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item-label" for="">自定义标签:</label>
                    <div class="form-item-content">
                        <ul class="tags-list">
                            @if (Model.YinLiuTagList != null && Model.YinLiuTagList.Any())
                            {
                                foreach (var yinliuTag in Model.YinLiuTagList.Where(p => p.Type == PublicEnum.YinLiuTagTypeEnum.Custom))
                                {
                                    <li>@yinliuTag.Name</li>
                                }
                            }
                        </ul>
                        <a class="primary-btn" href="javascript:;">保存标签</a>
                    </div>
                </div>
            </div>

            <div class="yq-box" style="margin-top:10px;">
                <h2>产品推广</h2>
                <p class="desc">选择主推产品，观察曝光和流量情况，根据数据反馈适时调整推广产品和标签。</p>
                <div class="form-item">
                    <label class="form-item-label" style="width:70px;">广告位:</label>
                    <div class="form-item-content spread-descbox" style="margin-left:94px;">
                        <p>共20个，已使用0个，剩余10个;&nbsp;&nbsp; <a class="primary-btn" href="javascript:;">去订购</a></p>
                        <p>订购1年可<span style="color:#ff0000;">获得10个广告位</span>奖励&nbsp;&nbsp;<a class="text-btn" href="javascript:;">去订购</a></p>
                        <p>5分好评可<span style="color:#ff0000;">获得5个广告位</span></p>
                    </div>
                </div>

                <p class="desc">提示：每个用户免费赠送15个阿里优品广告位，已续订1年或已给好评的客户，找左侧的客服领取奖励的广告位。</p>

            </div>
        </div>
        <div class="new-status yq-box">
            <h2>最新推广动态</h2>
            <ul class="status-list">
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                        <div class="status-desc">
                            <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                            <p class="status-price">￥20.00</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="spread-box">
        <div class="yq-box spread-tablebox">
            <table class="spread-table">
                <thead>
                    <tr>
                        <th style="text-align:left;">产品信息</th>
                        <th>推广/刷新时间</th>
                        <th>优化标题</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="spread-img"><img src="/Dimages/demo2.png" alt=""></div>
                            <div class="spread-desc">
                                <p class="spread-title">欧美新款软底舒适平底鞋底舒适平底舒欧美新款软底舒适平底鞋底舒适平底舒</p>
                                <p class="spread-price">￥20.00</p>
                            </div>

                        </td>
                        <td style="text-align:center;">2016-01-06 21:27:02</td>
                        <td style="text-align:center;"><a class="text-btn" href="javascript:;">删除</a></td>

                    </tr>
                    <tr>
                        <td>
                            <div class="spread-img"><img src="/Dimages/demo2.png" alt=""></div>
                            <div class="spread-desc">
                                <p class="spread-title">欧美新款软底舒适平底鞋底舒适平底舒欧美新款软底舒适平底鞋底舒适平底舒</p>
                                <p class="spread-price">￥20.00</p>
                            </div>

                        </td>
                        <td style="text-align:center;">2016-01-06 21:27:02</td>
                        <td style="text-align:center;"><a class="text-btn" href="javascript:;">删除</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
