<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Runtime>-1</Runtime>
    <Params>
      <Param>
        <Key>WriteServer</Key>
        <Value>192.168.1.35:6379</Value>
      </Param>
      <Param>
        <Key>ReadServer</Key>
        <Value>192.168.1.35:6379</Value>
      </Param>
      <Param>
        <Key>MaxWritePoolSize</Key>
        <Value>601</Value>
      </Param>
      <Param>
        <Key>MaxReadPoolSize</Key>
        <Value>60</Value>
      </Param>
    </Params>
</Config>