@{
    ViewBag.Title = "效果分析";
}
<div class="yq-box">
    <h2>查看流量</h2>
    <p>您于5月4日开始推广，推广效果将在5月5日18：00更新。推广效果可<a class="text-btn" href="javascript:;">查看阿里后台的生意参谋</a></p>
</div>
<div class="effect-mainbox">
    <div class="status-charts yq-box"></div>
    <div class="new-status yq-box">
        <h2>最新推广动态</h2>
        <ul class="status-list">
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="status-img"><img src="/Dimages/demo2.png" alt=""></div>
                    <div class="status-desc">
                        <p class="status-title yq-nowrap">欧美新款软底舒适平底鞋底舒适平底舒...</p>
                        <p class="status-price">￥20.00</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
